# Event Configuration
EVENT_TITLE=E-CARD
SITE_URL=https://ecard.xxx.com
NEXT_PUBLIC_EVENT_DATE=2026-02-26 07:09:00

# Card Images (สามารถเปลี่ยนเป็น URL ได้) //ตอนนี้ใช้แค่ BACK
CARD_FRONT_IMAGE=/images/card-front.png
CARD_BACK_IMAGE=/images/card-back.png

# Map Link (Google Maps)
MAP_LINK=https://maps.app.goo.gl/xxxxx

# PromptPay Configuration
PROMPTPAY_ACCOUNT_NAME=Your Name Here
PROMPTPAY_QR_PATH=/qrcode.jpg
