# Event Configuration
NEXT_PUBLIC_EVENT_TITLE=E-CARD
NEXT_PUBLIC_EVENT_DATE=2026-02-26 07:09:00

# Card Images (สามารถเปลี่ยนเป็น URL ได้) //ตอนนี้ใช้แค่ BACK
NEXT_PUBLIC_CARD_FRONT_IMAGE=/images/card-front.png
NEXT_PUBLIC_CARD_BACK_IMAGE=/images/card-back.png

# Map Link (Google Maps)
NEXT_PUBLIC_MAP_LINK=https://maps.app.goo.gl/xxxxx

# PromptPay Configuration
NEXT_PUBLIC_PROMPTPAY_ACCOUNT_NAME=Your Name Here
NEXT_PUBLIC_PROMPTPAY_QR_PATH=/qrcode.jpg
